
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  color: black;
}
h1{
  color: black;
  height:200%;
  text-align:center;
  font-size: 2.6em;
}

nav{
  float: auto;
  margin - top: 50px;
  color: black;
}
h4{
	font-size: 1.6em;
}
div{ 
	padding: 15px 25px 25px;
}

